## Unir y preparar los ficheros bajados de IVIMA.

Los datos del IVIMA hay que bajarlos manualmente desde: http://www.planalquila.org/

In [96]:
## Imports y directorios in/out

import pandas as pd
import os
import numpy as np

input_dir = '../../data/raw/IVIMA/'
out_dir = '../../data/clean/IVIMA/'


input_files = [os.path.join(input_dir, f) for f in os.listdir(input_dir) if os.path.isfile(os.path.join(input_dir, f))]

out_file = os.path.join(input_dir, 'ivima_cat.csv')
!rm $out_file
!touch $out_file

for f in input_files:
    if f <> out_file:
        !cat $f >> $out_file

rawdata = pd.read_csv(out_file, sep='\t')

# Eliminar columnas no útiles
rawdata.drop(['Foto', 'Ref.', 'Fecha oferta', 'Unnamed: 9'], axis=1, inplace=True)

# Eliminar duplicados
rawdata = rawdata.drop_duplicates()

# Damos nombres "normales" a las columnas
rawdata.rename(columns={'Dirección':'Direccion', 'm²':'metros', 'Nºhab.':'habitaciones'}, inplace=True)

# Eliminar filas sin datos en predictores (Planta, m2, Precio)

rawdata = rawdata.dropna(subset=['Planta', 'metros','Precio'])

# Marcar garage 1=Si, 0=No
rawdata['Garaje']=rawdata.apply(lambda x: 1 if x['Garaje'] == 'si' else 0, axis = 1)

# al concatenar se han quedado los encabezados como datos, los eliminamos

rawdata = rawdata[rawdata['Precio'] != 'Precio']

# Convertir a tipo de dato correcto: metros y €

rawdata['Precio'] = rawdata['Precio'].str.replace(',', '.').str.replace('€', '').str.strip()

rawdata['Precio'] = rawdata['Precio'].map(float)

rawdata['metros'] = rawdata['metros'].str.replace(',', '.').str.strip()

rawdata['metros'] = rawdata['metros'].map(float)

In [ ]:
# Eliminar filas con valores outliers de metros o €

In [107]:
rawdata['€metro'] = (rawdata['Precio']/rawdata['metros']).map(int)

In [110]:
(rawdata['€metro'].value_counts())

10    820
11    708
9     654
12    621
13    545
8     482
14    378
15    320
7     217
16    212
17    154
18    129
19     91
20     61
21     59
6      55
22     43
23     23
25     18
24     18
27      8
5       7
26      7
29      5
28      4
30      4
33      2
32      1
43      1
85      1
36      1
37      1
35      1
2       1
38      1
50      1
31      1
0       1
Name: €metro, dtype: int64

In [ ]:
# Traducir los valores de planta a los que existen en catastro

In [109]:
rawdata.head()

,Direccion,Planta,metros,habitaciones,Garaje,Precio,€metro
0,"AVENIDA DE MORATALAZ, 103",2,85.00,3,0,850.0,10
1,"AVENIDA DE MORATALAZ, 29",4,41.67,2,0,600.0,14
2,"AVENIDA DE MORATALAZ, 73",3,55.00,3,0,620.0,11
3,"AVENIDA DE MORATALAZ, 85",BAJO,54.60,3,0,650.0,11
5,"AVENIDA DOCTOR GARCIA TAPIA, 102",BJ,43.50,2,0,600.0,13

In [94]:
rawdata.str

AttributeError: 'DataFrame' object has no attribute 'str'